# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\bhoward3\OneDrive - Encana Corporation\Documents\PycharmProjects\ACI_Scripts\aciDiscovery\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
